.service_swiper {
    margin-top: 20px;
    position: relative;

    .service_title {
        text-align: center;
        font-size: 34px;
        color: $white_light;
        font-family: $montserrat;
        font-weight: 500;
        letter-spacing: 1px;

        & span {
            color: $red_light;
            font-weight: 700;
            font-size: 38px;
        }
    }

    .service_suptitle {
        font-size: 16px;
        color: #ffffffc3;
        padding-top: 20px;
        font-family: $montserrat;
        font-weight: 400;
        line-height: 22px;
        width: 430px;
        padding-bottom: 30px;
    }


    .swiper-wrapper {
        display: flex;
        align-items: center;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sevice_box {
        background: #fff;
        width: 600px;
        margin: 0 auto;
        border-radius: 15px;
        padding: 20px 40px;
    }

    .sevice_type {
        color: $golden_light;
        font-size: 32px;
        text-align: center;
        letter-spacing: 1px;
        font-family: $lato;
    }

    .sevice_card {
        height: 50px;
        border-bottom: 2px solid $golden_light;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .sevice_name {
        color: $black_light;
        font-family: $montserrat;
        font-size: 20px;
        font-weight: 700;
        line-height: 100%;
    }

    .service_price {
        color: $golden_light;
        font-size: 24px;
        font-weight: 700;
    }

    .service_card_details {
        display: flex;
        align-items: center;
        color: #1c1c1cc0;
        font-family: $lato;
        font-size: 15px;
        padding-top: 2px;
        transition: 0.3s linear;

        &:hover {
            color: #1c1c1c;
            cursor: pointer;
            font-size: 17px;
        }
    }

    .servise_suptitle {
        position: absolute;
        bottom: 60%;
        left: 0px;
        width: 200px;
        background: black;
        color: #fff;
        z-index: 100;
        margin-bottom: 20px;
        font-size: 14px;
        padding: 10px;
        border-radius: 6px;
        letter-spacing: 1px;
    }

    .swiper-pagination {
        text-align: center;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #000;
            opacity: 0.6;
            margin: 0 5px;

            &-active {
                background-color: $red_light;
                opacity: 1;
            }
        }
    }

    .mySwiper {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 700px) {
    .service_swiper {

        .service_suptitle,
        .service_title {
            width: 90%;
            text-align: center;
        }

        .sevice_box {
            width: 100%;
            margin: 0px 20px;
        }
    }
}

@media (max-width: 510px) {
    .service_swiper {

        .sevice_type {
            font-size: 27px;
        }

        .sevice_name {
            font-size: 17px;
        }

        .service_price {
            font-size: 20px;
        }

        .service_card_details {
            font-size: 11px;

            &:hover {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 410px) {
    .service_swiper {

        .sevice_type {
            font-size: 27px;
        }

        .sevice_name {
            width: 160px;
            font-size: 14px;
        }

        .service_price {
            font-size: 16px;
        }

        .service_card_details {
            font-size: 11px;

            &:hover {
                font-size: 13px;
            }
        }
    }
}