// Fonts
$montserrat: "Montserrat", sans-serif;
$lato: "Lato", sans-serif;
$platypi: "Platypi", serif;

// Colors
$white_light: #ffffff;
$black_light: #121212;
$gray_light: #333;
$red_light: #bc0202;
$golden_light: #a3886c;