.book_an_master {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 40px;
    padding-bottom: 30px;

    &::-webkit-scrollbar {
        display: none;
    }

    .master_title {
        text-align: center;
        color: $black_light;
        font-size: 28px;
        font-family: $montserrat;
        letter-spacing: 1px;
        width: 100%;
    }

    .master_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        row-gap: 20px;
        margin-top: 20px;
    }

    .master_item {
        background: #444;
        border-radius: 15px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        box-shadow: 0px 0px 3px 2px #5757574f;
        cursor: pointer;
        transition: .2s linear;

        &:hover {
            position: relative;
            bottom: 7px;
        }
    }

    .master_foto {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .master_item_title {
        color: $white_light;
        font-family: $lato;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 100%;
        font-weight: 600;
        text-align: center;
    }

    .master_price {
        color: $golden_light;
        font-family: $lato;
        font-weight: 700;
        font-size: 20px;
    }

    .master_category {
        font-size: 16px;
        letter-spacing: 1px;
        color: $white_light;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-align: center;
    }
}