.home_review_item {
    width: calc(100% - 40px);
    max-width: 370px;
    min-width: 360px;
    padding: 12px;
    background: #ffff;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;

    .review_item_avatar_img {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .review_avatar {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid $black_light;
    }

    .review_title_item {
        color: $black_light;
        font-size: 18px;
        font-family: $montserrat;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .review_suptitle_item {
        color: #363636;
        font-size: 14px;
        font-family: $lato;
        letter-spacing: 1px;
        padding-top: 10px;
    }
}

@media (max-width: 600px) {
    .home_review_item {
        max-width: 290px;
        min-width: 280px;
        padding: 8px;

        .review_avatar {
            width: 50px;
            height: 50px;
        }

        .review_title_item {
            font-size: 16px;
        }

        .review_suptitle_item {
            font-size: 12px;
        }
    }
}